<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/My_Layout.dwt" codeOutsideHTMLIsLocked="false" -->
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- InstanceBeginEditable name="doctitle" -->
  <title>Design 2</title>
  <meta name="description" content="This is my second design assignment. In this childpage, I show my favorite movies, shows, and quotes as well as my class difficulty level">
	  
  <!-- InstanceEndEditable -->
  <!-- Bootstrap -->
  <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
  <link href="favorite-styles.css" rel="stylesheet" type="text/css">
  <!-- InstanceParam name="Main Carousel" type="boolean" value="false" -->
  <!-- InstanceBeginEditable name="head" -->
  <!-- InstanceEndEditable -->
  </head>
  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">Madison Lewis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" href="Childpage.html">Home <span class="sr-only">(current)</span></a> </li>
          <li class="nav-item"> <a class="nav-link" href="Childpage.html">Design 1&nbsp;</a> </li>
          <li class="nav-item"> <a class="nav-link" href="Design%202.html">Design 2&nbsp; &nbsp;</a> </li>
          <li class="nav-item"><a href="#" class="nav-link">Paper&nbsp;&nbsp;</a> </li>
          <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
          <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
          </ul>
      </div>
    </div>
  </nav>
  <header class="row">
    <div class="col-lg-12">
      <h2>Madison Lewis</h2>
      <p>Mass Communications:&nbsp; Production&nbsp; &nbsp; &nbsp;</p>
    </div>
  </header>
  
<div class="container">
  <div class="row">
        <div class="col-4">
          <div class="row">
            <div class="col-2"><img class="rounded-circle" alt="Free Shipping" src="images/40X40.gif"></div>
            <div class="col-lg-6 col-10 ml-1">
              <h4>Free Shipping</h4>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-2"><img class="rounded-circle" alt="Free Shipping" src="images/40X40.gif"></div>
            <div class="col-lg-6 col-10 ml-1">
              <h4>Free Returns</h4>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-2"><img class="rounded-circle" alt="Free Shipping" src="images/40X40.gif"></div>
            <div class="col-lg-6 col-10 ml-1">
              <h4>Low Prices</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- InstanceBeginEditable name="Main Content" -->
    <div class="wrapper">
      <div class="container">
        <table width="95%" border="1">
          <tbody>
			              <tr>
				
              <td> <h2 class="text-center"><strong class="titles">Favorite Movies and Shows</strong>&nbsp;&nbsp;</h2>
                <h2 class="text-center movietitle"><strong>Top Five Movies</strong></h2>
<ol>
          <li class="movielist">Parasite</li>
          <li class="movielist">Gone Girl</li>
          <li class="movielist">Train to Busan</li>
          <li class="movielist">Susperia</li>
          <li class="movielist">Sorry to Bother You&nbsp;&nbsp;</li>
        </ol>
        <h2 class="text-center"><strong class="movietitle"> Favorite Shows&nbsp;</strong></h2>
        <ul>
          <li>Alice in Borderlands</li>
          <li>&nbsp;Narcos&nbsp;</li>
          <li>Girl from Nowhere&nbsp;</li>
          <li>Black The Silent Sea</li>
          <li>&nbsp;Inside Job</li>
          <li>&nbsp;New Girl &nbsp;</li>
        </ul></td>
				
              <td> <h2 class="text-center"><strong class="titles"> Random Information</strong></h2>
        <h2 class="text-center"><strong class="titles">Spring 2023 Class Difficulty&nbsp; &nbsp;</strong></h2>
        <table width="95%" border="1">
          <tbody>
            <tr>
              <th class="classes">&nbsp;Classes</th>
              <th class="classestwo">&nbsp;Difficulty</th>
            </tr>
            <tr>
              <td class="classes">&nbsp;Cultural Studies in Media</td>
              <td class="classestwo">&nbsp;10</td>
            </tr>
            <tr>
              <td class="classes">&nbsp;Alternative Photography</td>
              <td class="classestwo">&nbsp;9</td>
            </tr>
            <tr>
              <td class="classes">&nbsp;Writing and Designing in Media</td>
              <td class="classestwo">&nbsp;8</td>
            </tr>
            <tr>
              <td class="classes">&nbsp;Audio and Video</td>
              <td class="classestwo">&nbsp;7</td>
            </tr>
            <tr>
              <td class="classes">&nbsp;Drawing</td>
              <td class="classestwo">&nbsp;6</td>
            </tr>
            <tr>
              <td class="classes">&nbsp;Graphic Design</td>
              <td class="classestwo">&nbsp;5</td>
            </tr>
            <tr>
              <td class="classes">&nbsp;Media Management</td>
              <td class="classestwo">&nbsp;4</td>
            </tr>
            <tr>
              <td class="classes">&nbsp;Race and Ethnic Relations</td>
              <td class="classestwo">&nbsp;3</td>
            </tr>
            <tr>
              <td class="classes">&nbsp;Writing for the Media</td>
              <td class="classestwo">&nbsp;2</td>
            </tr>
            <tr>
              <td class="classes">&nbsp;Mass Media in Society</td>
              <td class="classestwo">&nbsp;1</td>
            </tr>
          </tbody>
        </table></td>
              <td> <h2 class="text-center"><strong class="titles">Favorite Quotes&nbsp;&nbsp;</strong></h2>
        <p class="text-center"><em class="quote">&nbsp;"May the Force be with you"</em></p>
        <p class="text-center quote"><strong class="quote">-Star Wars: A New Hope</strong></p>
<p class="text-center"><em class="quote">"Keep your friends close, but your enemies closer"</em></p>
        <p class="text-center quote"><strong class="quote">-Godfather: Part 2&nbsp;</strong></p></td>
            </tr>
          </tbody>
        </table>
      
     
  <!-- InstanceEndEditable -->
<div class="container text-white bg-dark p-4">
  <div class="row">
        <div class="col-6 col-md-8 col-lg-12">
          <div class="row text-center">
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a>Link anchor</a> </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a>Link anchor</a> </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a>Link anchor</a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-12 col-6 row">
          <address class="col-lg-6">
            <strong>Madison Lewis&nbsp;</strong><br>
            www.Twitter.com<br>
            Edwardsville, IL 62025<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>
          <address class="col-lg-6">
            <strong>SIUE&nbsp;</strong><br>
            <a href="mailto:#">madisle@siue.edu&nbsp;</a>
          </address>
        </div>
  </div>
  </div>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © Madison Lewis. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
  </body>
<!-- InstanceEnd --></html>