// Scss Document

$logoyellow: #ED6;
$darkyellow: #ED0
$lightyellow: #FF3;
$logoblue: #069;
$darkblue: #089
$lightblue: #08A
$font-stack: "Trebuchet MS", Verdana, Arial, Helvetica, Sans-serif;

body {
	
	font-family: $fontstack
	color: #000;
	margin: 0;
	
}